[Unit]
Description=InverterMQTT

[Service]
ExecStart=/usr/bin/python3 /usr/InverterMQTT/inverterMQTT.py
WorkingDirectory=/usr/InverterMQTT/
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target